*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body{
    overflow: hidden;
}
ul, li{
    list-style: none;
    
}
#background{
    /* overflow: hidden; */
    position: fixed;
    width: 100%;
    height: 100%;
    
}
.details{
    
    width: 100%;
}
.value{
    
    width: 100%;
    
}

/* change background if day or night */

.day{
    color: rgb(78, 76, 76);
    background: #CAC531;  /* fallback for old browsers */
    background: -webkit-linear-gradient(145deg, #FFFF54, #BDBF3A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(145deg, #FFFF54, #BDBF3A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.night{
    color: white;
    background: #1f1f1f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(145deg, #252525, #191919);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(145deg, #252525, #191919); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}
/*  */

.weather-temp-day{
    background: linear-gradient(145deg, #FFFF54, #BDBF3A);
    border-radius: 1.3rem;;
    box-shadow: inset 9.91px 9.91px 15px #D3D641, inset -9.91px -9.91px 15px #FDFF4D;
}
.right-container-day{

    background: linear-gradient(145deg, #FFFF54, #BDBF3A);
    border-radius: 1.3rem;;
    box-shadow: inset 9.91px 9.91px 15px #D3D641, inset -9.91px -9.91px 15px #FDFF4D;
}

/* night classes */
.weather-temp-night{
    background: linear-gradient(145deg, #252525, #191919);
    border-radius: 1.3rem;
    box-shadow: inset 9.91px 9.91px 15px #1C1C1C, inset -9.91px -9.91px 15px #222222;
}
.right-container-night{
    background: linear-gradient(145deg, #252525, #191919);
    border-radius: 1.3rem;
    box-shadow: inset 9.91px 9.91px 15px #1C1C1C, inset -9.91px -9.91px 15px #222222;
}